


.contact-form {
    width: 500px;
    min-height: 200px;
    padding: 30px;
    background-color: rgb(197, 233, 135);
}



.contact-form {
    margin-left: auto;
    margin-right: auto;
}


.contact-form-input {
    width: 100%; 
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    border: 1px blue solid; 
}

.contact-form-btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: black;
}

.contact-form-btn-submit {
    background-color: rgb(113, 241, 143);
}

.contact-form-btn-reset {
    background-color: rgb(244, 139, 195);
}


.contact-form-btn-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.contact-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 6px;
}

.contact-form-fieldset {
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    resize: none;
}

