

body {
    font-family: 'Montserrat', sans-serif;
}

.backcolor {
    background-color: aqua;
}


.logo {
    font-weight: 700;

    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;

    /* identical to box height, or 111% */



    
    color: #111111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.flcont {
    border: #111111 solid 5px;
    display: flex;
    gap: 20px;
}

.flel1 {
    border: red solid 5px;
    width: 200px;
}

.flel2 {
    border: green solid 5px;
    flex-grow: 1;
}



.container {
    
    width: 1168px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}





