

body {
    font-family: 'Montserrat', sans-serif;
}

.backcolor {
    background-color: aqua;
}


.logo {
    font-weight: 700;

    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;

    /* identical to box height, or 111% */



    
    color: #111111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.flcont {
    border: #111111 solid 5px;
    display: flex;
    gap: 20px;
}

.flel1 {
    border: red solid 5px;
    width: 200px;
}

.flel2 {
    border: green solid 5px;
    flex-grow: 1;
}



.container {
    
    width: 1168px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.menu {
    display: flex;
    column-gap: 20px;
}

.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.title {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.title::before {
    display: block;
    content: "";
    width: 300px;
    height: 5px;
    border: 1px solid green;
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.title:hover::before {
    border: crimson;
}


.title::after {
    content: "!";
    color: red;
}

.box {
    position: relative;
    overflow: hidden;




    width: 200px;
    height: 100px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 200px;

    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    
}

.overlay {

    transform: translateY(100%);
    transition: transform 250ms linear;
}

.box:hover .overlay {
    transform: translateY(0);
}


button {
    transition: background-color 500ms ease-in-out 100ms;
}

/************ BACK-DROP STYLES ****************/
.back-drop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}


/************ MODAL WINDOW STYLES *************/
.modal {
    width: 517px;
    height: 794px;
    background-color: #fafafa;
    border-radius: 15px;
}